.DS_Store
node_modules
.tmp
npm-debug.log
wisdompets/db.sqlite3
__pycache__/
*.py[cod]

# gitignore for Django using pyCharm

# files to ignore
settings.py

# extensions to ignore
*.log
*.pot
*.pyc

# directories to ignore
.idea/
